#HomeShelf, #HomeBench, #HomePlant, #HomeShoeRack, #HomeBoxSmall, #HomeBoxMed, #HomeBoxPlastic, #ToolTip {
  background: #0000ff;
  padding: 3px;
  font-family: 'Courier New';
  font-weight: bold;
  color: white;
  border: solid;
  border-color: #0000ff;
  border-width: 1px;
  border-radius: 5px;
}