body {
    background-color: white;
    margin: auto;
    font-family: sans-serif;
    color: black;
    font-size: 1.2vh;
}

nav {
    margin: 1.5vh 5% 0% 5%;
}

main {
    width: 90%;
    height: 90%;
    margin: auto;
    position: fixed;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#left-img {
    width: 50%;
    height: 100%;
    float: left;
}

#right-img {
    width: 50%;
    height: 100%;
    float: right;
}

#left-img img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    float: right; 
}

#right-img img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    float: left; 
}

#title {
    display: block;
}

#generate {
    color: black;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    display: block;
    font-size: 1vh;
}

#generate:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

a:link,
a:visited,
a:active {
    color: blue;
}

a:hover {
    background-color: black;
    color: white;
}