:root {
	--column-width: calc(100vw / 4);
}

.color1 {
	display: block;
	position: absolute;
	width: var(--column-width);
	height: 100vh;
	background-color: var(--color1);
}

.color2 {
	position: fixed;
	left: var(--column-width);
	width: var(--column-width);
	height: 100vh;
	background-color: var(--color2);
}

.color3 {
	position: fixed;
	left: calc(2 * var(--column-width));
	width: var(--column-width);
	height: 100vh;
	background-color: var(--color3);
}

.color4 {
	position: fixed;
	left: calc(3 * var(--column-width));
	width: var(--column-width);
	height: 100vh;
	background-color: var(--color4);
}