body,
html {
  margin: 0;
}

body {
  background-color: var(--color0);
}

.color0,
.color1,
.color2,
.color3,
.color4,
.color5 {
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #ff00ff;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.welcome {
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: "AGReg", "Helvetica", "Arial", sansserif;
  font-size: 2vw;
  z-index: 2;
}

.nav {
  position: fixed;
  top: 20px;
  right: 20px;
  font-family: "AGReg", "Helvetica", "Arial", sansserif;
  font-size: 2vw;
  z-index: 2;
}

.quote {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "AGReg", "Helvetica", "Arial", sansserif;
  font-size: 2vw;
  z-index: 2;
  text-align:right;
}

.main {
  width: 100vw;
  height: 100vh;
}

.message {
  background-color: #ffffff;
  color: #000000;
  z-index: 2;
  font-family: "AGReg", "Helvetica", "Arial", sansserif;
  line-height: 1.6;
}

.message-ital {
  background-color: #ffffff;
  color: #000000;
  z-index: 2;
  font-family: "AGRegItal", "Helvetica", "Arial", sansserif;
  line-height: 1.6;
}

#rgb0,
#rgb1,
#rgb2,
#rgb3,
#rgb4,
#rgb5 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 2vw;
}

#c0r,
#c1r,
#c2r,
#c3r,
#c4r,
#c5r {
  color: #ff0000;
}

#c0g,
#c1g,
#c2g,
#c3g,
#c4g,
#c4g {
  color: #00ff00;
}

#c0b,
#c1b,
#c2b,
#c3b,
#c4b,
#c5g {
  color: #0000ff;
}
