html {}

body {
    margin: auto;
    letter-spacing: .025em;
    font-family: Arial;
}

#list {
    width: 60%;
    display: block;
}

.entryid {
    width: 2%;
}

.date {
    width: 10%;
}

.title {
    width: 35%;
}

.artist {
    width: 24%;
}

.year {
    width: 6%;
}

.type {
    width: 6%;
}

.cover {
    width: 10%;
}

.cover>img {
    width: 100%;
}

.entryid,
.date,
.title,
.artist,
.year,
.type,
.cover {
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;
}

.entry {
    margin: 0px 0px 0px 0px;
}

#key {
    font-weight: 700;
    background-color: rgb(255, 145, 246);
}

#list {
    margin: auto;
    position: relative;
}

#list>a {
    color: black;
}

.entry:hover {
    background-color: rgb(255, 145, 246);
}