html {
    font-size: 8px;
}

body {
    margin: auto;
}

#taglist {
    width: 50%;
    margin: auto;
}

em {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    border: 1px red solid;
    color: red;
    border-radius: 5px;
    background-color: rgb(255, 213, 220);
    padding: 2px;
}

.list {
    display: block;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    border-top: 1px red solid;
    border-left: 1px red solid;
    padding-left: 4px;
    background-color: rgba(0, 255, 0, 0.15);
}

.link {
    font-size: 3rem;
    display: block;
    margin-bottom: 1rem;
}

.link > a {
    font-family: serif;
    margin-left:;
    text-decoration: none;
}

.a {
}

.b,
.c {
    margin-left: 4rem;
}