body {
    margin: auto;
    background-color: var(--bgColor);
}

#date-box {
    margin: auto;
    height: auto;
    text-align: center;
    position: fixed;
    left: 50%;
	bottom: 50%;
	transform: translate(-50%, -0%);
    font-size: 15vh;
    font-family: Arial;
    color: #fff;
    mix-blend-mode: difference;
}