body {
    margin: auto;
}

#date-box {
    margin: auto;
    height: auto;
    text-align: center;
    position: fixed;
    left: 50%;
	bottom: 50%;
	transform: translate(-50%, -0%);
    font-size: 1.5vh;
    font-family: Arial;
}