body {
    margin: auto;
}

#date-box {
    margin: auto;
    height: auto;
    text-align: center;
    position: fixed;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    font-size: 10vh;
    font-family: Arial;
}

.blankbox {
    display: block;
    height: 50px;
}

main {
    display: ;
}