body {
    margin: auto;
    padding: 80px;
    font-size: 8px;
    font-family: "Menlo", monospace;
    line-height: 1.9;
    max-width: 800px;
    background-color: #f1d6ff;
    color: #006118;
}

.dark-mode {
    background: #00350d;
    color: #e7beff;
}

#head {
    margin-bottom: 40px;
    font-size: 1.5rem;
}

#style-mode {
    margin-bottom: 40px;
    font-size: 1.5rem;
}

#style-mode button {
    display: inline;
    font-size: 1.2rem;
    font-family: "Menlo", monospace;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}

#style-mode button:nth-child(1) {
    border: 2px #969900 solid;
    color: #969900;
}

#style-mode button:nth-child(2) {
    border: 2px #808080 solid;
    color: #808080;
}

#style-mode button:hover {
    cursor: pointer;
}

#main-container {
    font-size: 1.5rem;
}

.date {
    font-weight: 700;
}

ul {
    margin: 0px 0px 20px 0px;
}

ul ul {
    margin: 0;
}

a:link,
a:active,
a:visited {
    color: #969900;
    text-decoration: none;
    ;
}

a:hover {
    color: #808080;
}

::selection {
    background: #808080;
}

::-moz-selection {
    background: #808080;
}