html {}

body {
    margin: auto;
    padding: 5% 0% 5% 0%;
}

#work {
    display: none;
    width: 90%;
    margin: auto;
}

#work>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 5%;
}

#sorry {
    display: none;
}