html {}

body {
    margin: auto;
    padding: 5% 0% 5% 0%;
}

#work {
    display: none;
    width: 30%;
    margin: auto;
}

#work>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 2.5vh;
}

#sorry {
    display: none;
    margin: auto;
    width: 60%;
    text-align: center;
}