/*-----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------

GENERAL

-------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/


body {
  margin: auto;
  width: 800px;
  padding: 60px 0px 80px 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.big {
  width: 500px;
}

.big.left {
  margin-right: 20px;
}

.big.right {
  margin-left: 20px;
}

.small {
  width: 280px;
}

.half.left {
  width: 390px;
  margin-right: 20px;
}

.half.right {
  width: 390px;
}

.row {
  width: 800px;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.small,
.half,
.big {
  display: inline-block;
}

.pad {
  height: 20px;
  width: 100%;
  display: flex;
}

img {
  width: 100%;
}

.item {
  display: ;
}

button span {
  display: inline-block;
}

.accordion {
  background-color: white;
  color: #c1c1c1;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  padding: 0;
  border-top: black 4px solid;
}

.active, .accordion:hover {
  color: black;
}

.active {
  padding-bottom: 20px;
}

.permanent {
  border-top: black 4px solid;
}

.container {
  width: 100%;
  display: none;
  flex-wrap: wrap;
}


/*-----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------

TYPOGRAPHY

-------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Standard Book", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

span {
  font-size: 18px;
}

em {
  font-family: "Standard Bold", Helvetica, Arial, sans-serif;
  font-style: normal;
}

button {
  font-family: "Standard Bold", Helvetica, Arial, sans-serif;
  font-style: normal;

}