/*-----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------

GENERAL

-------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/

html {
  margin: auto;
  padding: 0px;
}

body {
  margin: auto;
  width: 808px;
  padding: 80px 0px 100px 0px;
  background-color: #fdff65;
  animation: bgColor 300s infinite linear;
}

@keyframes bgColor {
  0% {
    background-color: #fdff65;
  }

  20% {
    background-color: #cf73ff;
  }

  40% {
    background-color: #9eff74;
  }

  60% {
    background-color: #ff6666;
  }

  80% {
    background-color: #7d7dff;
  }

  100% {
    background-color: #fdff65;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.big {
  width: 508px;
}

.big.left {
  margin-right: 4px;
}

.big.right {
  margin-left: 4px;
}

.small {
  width: 288px;
}

.half.left {
  width: 398px;
  margin-right: 4px;
}

.half.right {
  width: 398px;
}

.row {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.small,
.half,
.big {
  display: inline-block;
}

.pad {
  height: 4px;
  width: 100%;
  display: flex;
}

.pad-big {
  height: 20px;
  width: 100%;
  display: flex;
}


img, video {
  width: 100%;
  display: block;
}

img:hover,
video:hover {
  cursor: zoom-in;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

.item {
  display: ;
}

button span {
  display: inline-block;
}

.accordion {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  padding: 0;
  height: 22px;
}

.active, .accordion:hover {
  color: var(--dark1);
}

.active {
  margin-bottom: 20px;
}

.permanent {
}

.container {
  width: 100%;
  display: none;
  flex-wrap: wrap;
}

.around {
  border: 4px var(--dark1) solid;
  background-color: var(--dark1);
}

.around:first-child {
  position: sticky;
  background-color: #ffffff;
  top: -4px;
  padding: 4px;
  height: 70px;
  z-index: 90;
}

.sticky {
  position: sticky;
  top: 82px;
  z-index: 80;
}

.expanded {
  position: fixed;
  display: block;
  max-height: 95vh;
  max-width: 95vw;
  height: auto;
  width: auto;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-width: 100vw;
  border-color: var(--dark1);
  border-style: solid;
}

.expanded:hover {
  -webkit-filter: none; /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: none;
  cursor: zoom-out;
}



/*-----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------

TYPOGRAPHY

-------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/

:root {
  --dark1: rgb(25, 22, 23);
}



/*-----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------

TYPOGRAPHY

-------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Times New Roman, serif/*"Standard Book", Helvetica, Arial, sans-serif*/;
}

h1,
h2,
h3 {
  margin: 0;
}

span {
  font-size: 18px;
  display: block;
  color: white;
}

em {
  font-family: Times New Roman, serif/*"Standard Book", Helvetica, Arial, sans-serif*/;
  font-weight: 600;
  font-style: normal;
}

.title {
  color: var(--dark1);
  background-color: white;
  padding: 0px 4px 0px 4px;
  border: 4px var(--dark1) solid;
  transform: translate(-4px, -4px);
}

.title:hover {
  background-color: #7d7dff;
  color: white;
}

a:link,
a:visited,
a:active {
  color: #ff6666;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

a:hover {
  color: white;
}

.around:first-child a:hover {
  color: var(--dark1);
}