/*******************************
@FONT-FACE
********************************/

    /* GC */

@font-face {
  font-family: "GCBook";
  src: url("../assets/type/GC/GalaxieCopernicus-Book.otf");
}

@font-face {
  font-family: "GCItal";
  src: url("../assets/type/GC/GalaxieCopernicus-BookItalic.otf");
}

    /* AG */

@font-face {
  font-family: "AGLight";
  src: url("../assets/type/AG/AkzidenzGroteskPro-Light.otf");
}

@font-face {
  font-family: "AGLightItal";
  src: url("../assets/type/AG/AkzidenzGroteskPro-LightIt.otf");
}

@font-face {
  font-family: "AGReg";
  src: url("../assets/type/AG/AkzidenzGroteskPro-Regular.otf");
}

@font-face {
  font-family: "AGRegItal";
  src: url("../assets/type/AG/AkzidenzGroteskPro-It.otf");
}

@font-face {
  font-family: "AGMed";
  src: url("../assets/type/AG/AkzidenzGroteskPro-Md.otf");
}

@font-face {
  font-family: "AGMedItal";
  src: url("../assets/type/AG/AkzidenzGroteskPro-MdIt.otf");
}

    /* Standard */

@font-face {
  font-family: "Standard Book";
  src: url("../assets/type/Standard/standard-book-webfont.eot") format("embedded-opentype"),
    url("../assets/type/Standard/standard-book-webfont.svg") format("svg"),
    url("../assets/type/Standard/standard-book-webfont.ttf") format("truetype"),
    url("../assets/type/Standard/standard-book-webfont.woff") format("woff"),
    url("../assets/type/Standard/standard-book-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Standard Book Italic";
  src: url("../assets/type/Standard/standard-book-italic-webfont.eot") format("embedded-opentype"),
    url("../assets/type/Standard/standard-book-italic-webfont.svg") format("svg"),
    url("../assets/type/Standard/standard-book-italic-webfont.ttf") format("truetype"),
    url("../assets/type/Standard/standard-book-italic-webfont.woff") format("woff"),
    url("../assets/type/Standard/standard-book-italic-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Standard Bold";
  src: url("../assets/type/Standard/standard-bold-webfont.eot") format("embedded-opentype"),
    url("../assets/type/Standard/standard-bold-webfont.svg") format("svg"),
    url("../assets/type/Standard/standard-bold-webfont.ttf") format("truetype"),
    url("../assets/type/Standard/standard-bold-webfont.woff") format("woff"),
    url("../assets/type/Standard/standard-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Standard Bold Italic";
  src: url("../assets/type/Standard/standard-bold-italic-webfont.eot") format("embedded-opentype"),
    url("../assets/type/Standard/standard-bold-italic-webfont.svg") format("svg"),
    url("../assets/type/Standard/standard-bold-italic-webfont.ttf") format("truetype"),
    url("../assets/type/Standard/standard-bold-italic-webfont.woff") format("woff"),
    url("../assets/type/Standard/standard-bold-italic-webfont.woff2") format("woff2");
}