@media (max-width: 800px) {
	body {
		font-size: 14px;
	}
}

@media (min-width: 801px) {
	body {
		font-size: 8px;
	}
}

html {
	margin: 0;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.main-container {
	margin: 2% 2% 2% 2%;
	width: 96%;
}

.box {
	margin: 0px;
	padding: 0px;
}

.a {
	border-top: black solid 3px;
}

.b {
	border-top: black solid 3px;
}

a:active,
a:visited,
a:link {
	color: #f00;
}

a:hover {
	color: #00f;
	text-decoration: none;
}

h1 {
	font-size: 8em;
}

h2 {
	font-size: 4em;
	font-weight: 400;
	color: #c1c1c1;
}

p {
	font-size: 2.5em;
	margin: 0px;
	padding: .5em 0em 1.5em 0em;
}