:root {
	--link-color: #0000ff;
}

body {
	margin: auto;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

html {
	margin: auto;
	padding: 0;
}

::selection {
  background: rgba(255,0,255,.2);
}
::-moz-selection {
  background: rgba(255,0,255,.2);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

@media only screen and (max-width: 799px), only screen and (max-device-width: 799px) {
	:root {
		--gutter: 16px;
		--column: calc((100vw - (13 * var(--gutter))) / 12);
	}

	.header-title,
	.header-title-home {
		font-size: 5em !important;
	}

	.index-container {
		font-size: 14px;
	}

	.row, .index-container {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.row {
		font-size: 2em;
		line-height: 1.6em;
		border-bottom: 1px solid black;
	}

	.row:first-child,
	.row:nth-child(2) {
		width: calc((var(--column) * 6) + (var(--gutter) * 5))
	}

	.row:first-child .column,
	.row:nth-child(2) .column {
		width: 100%;
		margin: 0;
	}

	.row:nth-child(2) .notes {
		display: none;
	}

	.one.column,
	.two.column,
	.three.column,
	.four.column,
	.five.column,
	.six.column,
	.seven.column,
	.eight.column,
	.nine.column,
	.ten.column,
	.eleven.column,
	.twelve.column {
		width: calc((var(--column) * 3) + (var(--gutter) * 2));
	}

	.post.six.column {
		width: calc((var(--column) * 11) + (var(--gutter) * 10));
	}

	.notes-txt.two.column {
		width: calc((var(--column) * 6) + (var(--gutter) * 5));
		margin-left: calc((var(--column) * 6) + (var(--gutter) * 5));
	}

	.timestamp.two.column {
		width: calc((var(--column) * 6) + (var(--gutter) * 5));
		margin-bottom: 2em;
	}

	.hashtag {
		display: none;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1079px), only screen and (min-device-width: 800px) and (max-device-width: 1079px) {
	:root {
		--gutter: 20px;
		--column: calc((100vw - (13 * var(--gutter))) / 12);
	}

	.header-title, .header-title-home {
		font-size: 30px;
	}

	.index-container {
		font-size: 18px;
	}

	.row, .index-container {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.row {
		border-bottom: 1px solid black;
	}

	.one.column {
	width: var(--column);
	}

	.two.column {
		width: calc((var(--column) * 2) + (var(--gutter) * 1));
	}

	.three.column {
		width: calc((var(--column) * 3) + (var(--gutter) * 2));
	}

	.four.column {
		width: calc((var(--column) * 4) + (var(--gutter) * 3));
	}

	.five.column {
		width: calc((var(--column) * 5) + (var(--gutter) * 4));
	}

	.six.column {
		width: calc((var(--column) * 6) + (var(--gutter) * 5));
	}

	.seven.column {
		width: calc((var(--column) * 7) + (var(--gutter) * 6));
	}

	.eight.column {
		width: calc((var(--column) * 8) + (var(--gutter) * 7));
	}

	.nine.column {
		width: calc((var(--column) * 9) + (var(--gutter) * 8));
	}

	.ten.column {
		width: calc((var(--column) * 10) + (var(--gutter) * 9));
	}

	.eleven.column {
		width: calc((var(--column) * 11) + (var(--gutter) * 10));
	}

	.twelve.column {
		width: calc((var(--column) * 12) + (var(--gutter) * 11));
	}
}

@media only screen and (min-width: 1080px) and (max-width: 1439px), only screen and (min-device-width: 1080px) and (max-device-width: 1439px) {
	:root {
		--gutter: 28px;
		--column: calc((100vw - (13 * var(--gutter))) / 12);
	}

	.header-title, .header-title-home {
		font-size: 40px;
	}

	.index-container {
		font-size: 24px;
	}

	.row, .index-container {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.row {
		border-bottom: 2px solid black;
	}

	.one.column {
	width: var(--column);
	}

	.two.column {
		width: calc((var(--column) * 2) + (var(--gutter) * 1));
	}

	.three.column {
		width: calc((var(--column) * 3) + (var(--gutter) * 2));
	}

	.four.column {
		width: calc((var(--column) * 4) + (var(--gutter) * 3));
	}

	.five.column {
		width: calc((var(--column) * 5) + (var(--gutter) * 4));
	}

	.six.column {
		width: calc((var(--column) * 6) + (var(--gutter) * 5));
	}

	.seven.column {
		width: calc((var(--column) * 7) + (var(--gutter) * 6));
	}

	.eight.column {
		width: calc((var(--column) * 8) + (var(--gutter) * 7));
	}

	.nine.column {
		width: calc((var(--column) * 9) + (var(--gutter) * 8));
	}

	.ten.column {
		width: calc((var(--column) * 10) + (var(--gutter) * 9));
	}

	.eleven.column {
		width: calc((var(--column) * 11) + (var(--gutter) * 10));
	}

	.twelve.column {
		width: calc((var(--column) * 12) + (var(--gutter) * 11));
	}
}

@media only screen and (min-width: 1440px), only screen and (min-device-width: 1440px) {
	:root {
		--gutter: 40px;
		--column: calc((100vw - (13 * var(--gutter))) / 12);
	}

	.header-title, .header-title-home {
		font-size: 48px;
	}

	.index-container {
		font-size: 28px;
	}

	.row, .index-container {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.row {
		border-bottom: 3px solid black;
	}

	.one.column {
	width: var(--column);
	}

	.two.column {
		width: calc((var(--column) * 2) + (var(--gutter) * 1));
	}

	.three.column {
		width: calc((var(--column) * 3) + (var(--gutter) * 2));
	}

	.four.column {
		width: calc((var(--column) * 4) + (var(--gutter) * 3));
	}

	.five.column {
		width: calc((var(--column) * 5) + (var(--gutter) * 4));
	}

	.six.column {
		width: calc((var(--column) * 6) + (var(--gutter) * 5));
	}

	.seven.column {
		width: calc((var(--column) * 7) + (var(--gutter) * 6));
	}

	.eight.column {
		width: calc((var(--column) * 8) + (var(--gutter) * 7));
	}

	.nine.column {
		width: calc((var(--column) * 9) + (var(--gutter) * 8));
	}

	.ten.column {
		width: calc((var(--column) * 10) + (var(--gutter) * 9));
	}

	.eleven.column {
		width: calc((var(--column) * 11) + (var(--gutter) * 10));
	}

	.twelve.column {
		width: calc((var(--column) * 12) + (var(--gutter) * 11));
	}
}


/*
------      text
*/


sup {
	vertical-align: baseline;
	position: relative;
	top: -0.35em;
}

sub { 
	top: 0.35em; 
}

.emoji {
	position: absolute;
	font-size: 1.8em;
}

i {
	font-style: italic;
}

/*
------      divs
*/

.main-container {
	margin: var(--gutter) var(--gutter) var(--gutter) var(--gutter);
	width: calc(100% - (2 * var(--gutter)));
}

.header-container {
	width: 100%;
	float: left;
}

.header-title {
	font-weight: 600;
	color: black;
}

.header-title-home {
	font-weight: 600;
	color: black;
}


a {
	text-decoration: none;
}

.index-container {
	width: 100%;
	float: left;
	font-weight: regular;
	line-height: 1.3em;
	color: #000000;
}

.index-container a:link,
.index-container a:visited,
.index-container a:active {
	text-decoration: none;
	color: var(--link-color);
}

.index-container a:hover {
	color: var(--link-color);
	text-decoration: underline;
}

.row {
	width: 100%;
	float: left;
}

.sticky {
	background-color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 100;
}

.column:first-child {
	margin-left: 0vw;
	margin-right: 0vw;
}

.column {
	margin-left: var(--gutter);
	margin-right: 0vw;
	float: left;
}

.date, .category, .title, .empty, .post, .hashtag, .timestamp, .notes {
	float: left;
}

.notes-txt {
	font-size: .666em;
	line-height: 1.3em !important;
	padding-top: .42em;
	hyphens: manual;
}

.eyeframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin: .3em 0em .3em 0em;
}

.youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
	max-width: 100%;
}

.post img {
	color: #A1A1A1;
	font-family: monospace;
	font-size: .75em;
	line-height: 1.2em;
}

.notes img {
	color: #A1A1A1;
	font-family: monospace;
	font-size: .75em;
	line-height: 1.2em;
}

.post {
	padding-bottom: 1em;
}
