body {
	margin: auto;
	padding: 0;
}

html {
	margin: auto;
	padding: 0;
}

::selection {
  background: #dddddd;
}
::-moz-selection {
  background: #dddddd;
}


/*
------      text
*/


sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub { 
	top: 0.4em; 
}


/*
------      divs
*/

.main-container {
	margin: 2vw 2vw 2vw 2vw;
	width: 96vw;
}

.header-container {
	width: 100%;
	float: left;
}

.header-title {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	font-weight: 600;
	color: black;
}

a {
	text-decoration: none;
}

#homelink a {
	font-size: 0.75em;
}

#homelink a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: #ff00ff;
}

.index-container a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

.index-container a:link, a:active, a:hover {
	color: #0000ee;
}

.index-container a:visited {
	color: #0000bb;
}

.header-nav {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	font-weight: regular;
	color: black;
}

.header-nav:a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.5em;
}

.index-container {
	width: 100%;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	float: left;
}

.row {
	width: 100%;
	min-height: 2.5em;
	padding-top: 1em;
	float: left;
	border-bottom: 1px solid black;
}

.column:first-child {
	margin-left: 0vw;
	margin-right: 0vw;
}

.column {
	margin-left: 2vw;
	margin-right: 0vw;
	float: left;
}

.date, .category, .title, .empty, .post, .hashtag, .timestamp, .notes {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: regular;
	color: #000000;
	float: left;
}

.post {
	padding-bottom: 1em;
}

.one.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: var(--column);
}

.two.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 2) + (var(--gutter) * 1));
}

.three.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 3) + (var(--gutter) * 2));
}

.four.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 4) + (var(--gutter) * 3));
}

.five.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 5) + (var(--gutter) * 4));
}

.six.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 6) + (var(--gutter) * 5));
}

.seven.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 7) + (var(--gutter) * 6));
}

.eight.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 8) + (var(--gutter) * 7));
}

.nine.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 9) + (var(--gutter) * 8));
}

.ten.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 10) + (var(--gutter) * 9));
}

.eleven.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 11) + (var(--gutter) * 10));
}

.twelve.column {
	--gutter: 2vw;
	--column: calc(37vw / 6);
	width: calc((var(--column) * 12) + (var(--gutter) * 11));
}
