body {
	background-color: #cccccc;
}

@media only screen and (max-width: 799px) {
	.homelink {
		width: 100%;
		position: fixed;
		right: 16px;
		bottom: 34px;
		z-index: 1001;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1079px) {
	.homelink {
		width: 100%;
		position: fixed;
		right: 20px;
		bottom: 46px;
		z-index: 1001;
	}
}

@media only screen and (min-width: 1080px) and (max-width: 1439px) {
	.homelink {
		width: 100%;
		position: fixed;
		right: 28px;
		bottom: 64px;
		z-index: 1001;
	}
}

@media only screen and (min-width: 1440px) {
	.homelink {
		width: 100%;
		position: fixed;
		right: 40px;
		bottom: 80px;
		z-index: 1001;
	}
}

.st0 {
	fill: var(--link-color);
	fill-opacity:0;
}

.st1 {
	fill:#ff00ff;
	stroke:#000000;
	stroke-width:0;
	stroke-miterlimit:10;
}

.st2 {
	fill:#000000;
	stroke:var(--link-color);
	stroke-width:4;
	stroke-miterlimit:10;
}

.st3 {
	fill:#000000;
	fill-opacity:0;
}

.st0:hover {
	fill-opacity: 1;
}