body {
    margin: auto;
    font-size: 8pt;
    background-color: rgb(248, 248, 244);
}

#header1 {
    display:none;
}

h1 {
    font-family: tribute,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    line-height: 6.9vh;
    margin: 3%;
    z-index: -5;
    color: rgb(185, 0, 0);
}

main {
    margin: auto;
    text-align: center;
    position: fixed;
    width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    z-index: 10;
}

span {
    font-family: tribute,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    color: rgb(23, 22, 24);
    line-height: 1.4em;
}

a:link,
a:visited {
    color: rgb(23, 22, 24);
    text-decoration: none;
}

a:hover {
    font-style: italic;
    color: rgb(185, 0, 0);
}


.button {
    padding: 10px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 1px rgb(53, 53, 53) solid;
    background-color: white;
    color: rgb(53, 53, 53);
    border-radius: 10px;
    margin-right: 1em;
}

nav {
    position: fixed;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
    z-index: 10;
}

.button:hover {
    background-color: rgb(255, 252, 211);
}