body {
    margin: auto;
    font-size: 8pt;
    background-color: black;
}

h1 {
    font-family: sans-serif, tribute, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2vw;
    line-height: 6.8vh;
    margin: 3%;
    z-index: -5;
    color: rgb(39, 39, 39);
}

main {
    margin: auto;
    text-align: center;
    position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    z-index: 10;
}

span {
    font-family: serif, tribute,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    color: rgb(255, 97, 176);
    line-height: 1.4em;
}

a:link,
a:visited {
    color: rgb(255, 97, 176);
    text-decoration: none;
}

a:hover {
    color: rgb(170, 170, 170);
}


#button {
    position: fixed;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
    z-index: 10;
    padding: 10px;
    font-family: monospace;
    border: 1px rgb(170, 170, 170) solid;
    background-color: black;
    color: rgb(170, 170, 170);
    border-radius: 2px;
}

#button:hover {
    color: rgb(255, 97, 176);
    border-color: rgb(255, 97, 176);
}