@media only screen and (max-width: 800px) {
    main {
        width: 94%;
        font-size: 1.7em;
        padding: 3%;
    }
    .entryid {
        width: 48%;
        margin-bottom: 1em;
    }
    .date {
        width: 48%;
    }
    .title {
        width: 48%;
    }
    .artist {
        width: 48%;
    }
    .year {
        width: 48%;
        margin-bottom: 1em;
    }
    .type {
        width: 48%;
        margin-bottom: 1em;
    }
    .links {
        width: 48%;
    }
    .cover {
        width: 50%;
        float: left;
    }
    #key {
        display: none;
    }
    .comment p {
        padding-bottom: 1em;
        width: 100%;
    }
}

@media only screen and (min-width: 801px) {
    main {
        width: 60%;
        font-size: 2em;
    }
    .entryid {
        width: 2%;
    }
    .date {
        width: 10%;
    }
    .title {
        width: 35%;
    }
    .artist {
        width: 20%;
    }
    .year {
        width: 4%;
    }
    .type {
        width: 8%;
    }
    .links {
        width: 2%;
    }
    .cover {
        width: 10%;
    }
    .comment p {
        padding-bottom: 1em;
        width: calc(.35 * (.6 * 100vw));
    }
    .comment {
        padding-left: 14%;
    }
}

html {}

body {
    margin: auto;
    letter-spacing: .025em;
    font-family: Arial;
    padding-top: 4vw;
    font-size: 8px;
}

p {
    margin: 0;
}

main {
    margin: auto;
}

em {
    font-weight: 700;
    font-style: normal;
}

header {
    text-decoration: none;
    font-style: normal;
}

#list {
    width: 100%;
    display: block;
}

.cover>img {
    width: 100%;
}

.entryid,
.date,
.title,
.artist,
.year,
.type,
.links,
.cover {
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;
}

.entry {
    margin: 0px 0px 0px 0px;
    display: flow-root;
    border-top: 1px solid black;
}

.comment {
    margin: 0px 0px 0px 0px;
    display: flow-root;
    border-top: 1px solid black;
}

#key {
    background-color: black;
    color: rgb(255, 145, 246);
}

#list {
    margin: auto;
    position: relative;
}

#list>a {
    color: black;
}

.entry:hover {
    background-color: rgb(255, 145, 246);
}

.links>a:link,
.links>a:visited,
.links>a:active {
    color: #00f;
}

a:link,
a:visited,
a:active,
a:hover {
    color: #000;
}

::-moz-selection {
    background: rgb(255, 145, 246);
    color: white;
}

::selection {
    background: rgb(255, 145, 246);
    color: white;
}