<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Not Interesting</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="../css/main.css" />

    <!-- import the webpage's javascript file -->
    <script src="../js/main.js" defer></script>
  </head>
  <body>
    <div class="main-container">
      <div class="row">
        <div class="back three column">
          <h1>
            <a href="../index.html">../</a>
          </h1>
        </div>
        <div class="title-container nine column">
          <h1>
            Not Interesting
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="post-container nine column">
          <!--  post-box goes in here for new posts  -->
        </div>
      </div>
    </div>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
